cargo-features = ["strip"]

[package]
name = "rimca"
version = "0.1.0"
edition = "2021"

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
strip = true 

[dependencies]
librimca = { path = "../librimca" }